<a href="https://colab.research.google.com/github/GabrielBeran/subscriptions-exchnges-analysis/blob/main/Projeto_Home_Exchange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install google-cloud-bigquery

In [ ]:
from google.colab import auth
from google.cloud import bigquery
import pandas as pd

In [ ]:
auth.authenticate_user()
project_id = 'poised-honor-384014'  # Substitua pelo ID do seu projeto do Google Cloud
client = bigquery.Client(project=project_id)

In [ ]:
query_exchanges = '''
SELECT *
FROM `poised-honor-384014.home_exchange.exchanges` limit 1000000
'''

In [ ]:
exchanges = client.query(query_exchanges).to_dataframe()

In [ ]:
query = '''
SELECT *
FROM `poised-honor-384014.home_exchange.subscriptions`
'''

In [ ]:
subscriptions = client.query(query).to_dataframe()
subscriptions #Tabela subscriptions bruta

,subscription_date,user_id,renew,first_subscription_date,first_subscription,referral,promotion,payment3x,payment2,payment3,country,region,department,city
0,2021-10-16,246592,0,2018-10-06,0,0,0,0,0,0,FRA,None,None,Aussonne
1,2020-04-07,1258705,1,2010-06-02,0,0,0,0,0,0,None,None,None,None
2,2021-10-19,2219682,1,2014-03-24,0,0,0,0,0,0,None,None,None,None
3,2021-08-26,1349069,1,2011-01-27,0,0,0,0,0,0,DNK,None,None,Ærøskøbing
4,2020-01-02,1418685,1,2012-01-01,0,0,0,0,0,0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2020-02-16,2716709,1,2017-02-16,0,0,0,0,0,0,CHL,Región De Magallanes Y De La Antártica Chilena,None,Punta Arenas
99996,2019-02-22,2380120,0,2014-10-11,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,None,None
99997,2020-09-28,1212289,1,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua
99998,2019-08-08,1212289,0,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua
99999,2021-09-29,1212289,1,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua

In [ ]:
subscriptions_sem_duplicatas = subscriptions.drop_duplicates()
subscriptions_sem_duplicatas #Tiramos as linhas duplicadas

,subscription_date,user_id,renew,first_subscription_date,first_subscription,referral,promotion,payment3x,payment2,payment3,country,region,department,city
0,2021-10-16,246592,0,2018-10-06,0,0,0,0,0,0,FRA,None,None,Aussonne
1,2020-04-07,1258705,1,2010-06-02,0,0,0,0,0,0,None,None,None,None
2,2021-10-19,2219682,1,2014-03-24,0,0,0,0,0,0,None,None,None,None
3,2021-08-26,1349069,1,2011-01-27,0,0,0,0,0,0,DNK,None,None,Ærøskøbing
4,2020-01-02,1418685,1,2012-01-01,0,0,0,0,0,0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2020-02-16,2716709,1,2017-02-16,0,0,0,0,0,0,CHL,Región De Magallanes Y De La Antártica Chilena,None,Punta Arenas
99996,2019-02-22,2380120,0,2014-10-11,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,None,None
99997,2020-09-28,1212289,1,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua
99998,2019-08-08,1212289,0,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua
99999,2021-09-29,1212289,1,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua

In [ ]:
subscriptions_sem_duplicatas['renew_count'] = subscriptions_sem_duplicatas.groupby('user_id')['renew'].transform('count')
subscriptions_sem_duplicatas.head() #Contamos o número de renew por user_id

<ipython-input-9-b997723c26b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subscriptions_sem_duplicatas['renew_count'] = subscriptions_sem_duplicatas.groupby('user_id')['renew'].transform('count')

,subscription_date,user_id,renew,first_subscription_date,first_subscription,referral,promotion,payment3x,payment2,payment3,country,region,department,city,renew_count
0,2021-10-16,246592,0,2018-10-06,0,0,0,0,0,0,FRA,None,None,Aussonne,2
1,2020-04-07,1258705,1,2010-06-02,0,0,0,0,0,0,None,None,None,None,2
2,2021-10-19,2219682,1,2014-03-24,0,0,0,0,0,0,None,None,None,None,3
3,2021-08-26,1349069,1,2011-01-27,0,0,0,0,0,0,DNK,None,None,Ærøskøbing,3
4,2020-01-02,1418685,1,2012-01-01,0,0,0,0,0,0,None,None,None,None,3

In [ ]:
not_renew_subscriptions = subscriptions_sem_duplicatas[subscriptions_sem_duplicatas['renew'] == 0]
not_renew_subscriptions #Filtramos as subscriptions que não foram renovadas

,subscription_date,user_id,renew,first_subscription_date,first_subscription,referral,promotion,payment3x,payment2,payment3,country,region,department,city,renew_count
0,2021-10-16,246592,0,2018-10-06,0,0,0,0,0,0,FRA,None,None,Aussonne,2
7,2019-10-29,1836825,0,2017-10-29,0,0,0,0,0,0,None,None,None,None,1
8,2021-06-24,2785637,0,2019-06-17,0,0,0,0,0,0,DNK,None,None,Hobro,2
10,2021-04-30,2417120,0,2015-01-01,0,0,0,0,0,0,DNK,None,None,Frederiksberg,3
11,2021-07-12,1947627,0,2017-07-20,0,0,0,0,0,0,HUN,None,None,Budapest,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99989,2019-04-17,201753,0,2019-04-17,1,0,0,0,0,0,FRA,Languedoc-Roussillon Midi-Pyrénées,Pyrénées-Orientales,Saint-Féliu-D'avall,1
99992,2021-05-16,450348,0,2018-10-16,0,0,0,0,0,0,FRA,Languedoc-Roussillon Midi-Pyrénées,Pyrénées-Orientales,Cabestany,1
99993,2020-03-12,3504347,0,2020-03-12,1,0,0,0,0,0,ARG,"T. de Feu, Ant. et Îles de l'At. S.",Ushuaia,Ushuaia,1
99996,2019-02-22,2380120,0,2014-10-11,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,None,None,1
99998,2019-08-08,1212289,0,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua,3

In [ ]:
renew_subscriptions = subscriptions_sem_duplicatas[subscriptions_sem_duplicatas['renew'] == 1]
renew_subscriptions #Filtramos as subscriptions que foram renovadas

,subscription_date,user_id,renew,first_subscription_date,first_subscription,referral,promotion,payment3x,payment2,payment3,country,region,department,city,renew_count
1,2020-04-07,1258705,1,2010-06-02,0,0,0,0,0,0,None,None,None,None,2
2,2021-10-19,2219682,1,2014-03-24,0,0,0,0,0,0,None,None,None,None,3
3,2021-08-26,1349069,1,2011-01-27,0,0,0,0,0,0,DNK,None,None,Ærøskøbing,3
4,2020-01-02,1418685,1,2012-01-01,0,0,0,0,0,0,None,None,None,None,3
5,2021-05-01,567063,1,2019-05-01,0,0,0,0,0,0,ISL,None,None,Reykjavík,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99991,2019-04-14,447351,1,2019-04-14,1,0,0,0,0,0,FRA,Languedoc-Roussillon Midi-Pyrénées,Pyrénées-Orientales,Montalba-Le-Château,3
99994,2019-02-16,2716709,1,2017-02-16,0,0,0,0,0,0,CHL,Región De Magallanes Y De La Antártica Chilena,None,Punta Arenas,2
99995,2020-02-16,2716709,1,2017-02-16,0,0,0,0,0,0,CHL,Región De Magallanes Y De La Antártica Chilena,None,Punta Arenas,2
99997,2020-09-28,1212289,1,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua,3
99999,2021-09-29,1212289,1,2010-08-30,0,0,0,0,0,0,CHL,Región Del Libertador General Bernardo O?Higgins,Cachapoal,Rancagua,3

In [ ]:
renew_subscriptions_df = pd.merge(renew_subscriptions, exchanges, left_on='user_id', right_on='creator_id', how='inner')
renew_subscriptions_df[['subscription_date','user_id','exchanges_count']].groupby('user_id')
renew_subscriptions_df #Unimos as sbscriptions que renovaram com a tabela de exchanges feitas.

KeyError: ignored

In [ ]:
renew_subscriptions_df['total_exchanges'] = renew_subscriptions_df.groupby('user_id')['exchange_id'].transform('count')
renew_subscriptions_df #Calculamos o número de exchanges feitas pelos usuários que renovaram

In [ ]:
not_renewed_merged = pd.merge(not_renew_subscriptions, exchanges, left_on='user_id', right_on='creator_id', how='inner')
not_renewed_merged['total_exchanges'] = not_renewed_merged.groupby('user_id')['exchange_id'].transform('count')
not_renewed_merged #Unimos as subscriptions que não renovaram com a tabela de exchanges feitas.  #Calculamos o número de exchanges feitas pelos usuários que não renovaram

In [ ]:
exchanges['exchanges_count'] = exchanges.groupby('creator_id')['exchange_id'].transform('count')
exchanges.to_csv('exchanges_python.csv', index=False)

In [ ]:
subscriptions_exchanges = pd.merge(subscriptions_sem_duplicatas, exchanges, left_on='user_id', right_on='creator_id', how='inner')
subscriptions_exchanges.to_excel('subscriptions_exchanges.xlsx', index=False) #Unimos as tabelas subscriptions com exchange.

ValueError: ignored

In [ ]:
exchanges['exchanges_count'].mean()

In [ ]:
#subscriptions_exchanges_unique = subscriptions_exchanges.drop_duplicates(subset='user_id')
#subscriptions_exchanges_unique['promotion_count'] = subscriptions_exchanges_unique.groupby('user_id')['promotion'].transform('count')
#subscriptions_exchanges_unique

In [ ]:
filtered_df = exchanges[exchanges['finalized_at'].notnull()]
exchanges_finalized = filtered_df[filtered_df['canceled_at'].isnull()]
exchanges_finalized #Filtramos as exchanges que foram finalizadas e não canceladas.

In [ ]:
#exchanges_finalized.to_csv('exchanges.csv', index=False)

In [ ]:
#filtered_df = exchanges[exchanges['finalized_at'].notnull()]
#exchanges_cancelled = filtered_df[filtered_df['canceled_at'].notnull()]
#exchanges_cancelled

In [ ]:
#exchanges_cancelled.to_csv('exchanges_cancelled.csv', index=False)

In [ ]:
#filtered_df = exchanges[exchanges['finalized_at'].isnull()]
#exchanges_open= filtered_df[filtered_df['canceled_at'].isnull()]
#exchanges_open

In [ ]:
renew_subscriptions_df.to_csv('renew_subscription_merged.csv', index=False)

In [ ]:
#import pandas as pd
#subscriptions_sem_duplicatas["first_subscription_date"] = pd.to_datetime(subscriptions_sem_duplicatas["first_subscription_date"])
#desired_month = 1
#desired_year = 2021
#filtered_subs_sem = subscriptions_sem_duplicatas[subscriptions_sem_duplicatas['first_subscription_date'].dt.month == desired_month] & (subscriptions_sem_duplicatas['first_subscription_date'].dt.year ==2021)
#filtered_subs_sem